<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo.png" alt="Logo Argentina Programa">

        </div>
        <div class="redes">
            
                
                <a href=""><img src="../../../assets/img/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/img/github.png" alt="github"></a>
                <a href=""><img src="../../../assets/img/instagram.png" alt="instagram"></a>
                <a href=""><img src="../../../assets/img/twitter.png" alt="twitter"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
            
        </div>
    </div>

